# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
insert_final_newline = true

[*.md]
trim_trailing_whitespace = true
